$primary: var(--paolo-veronese-green);
$accent: var(--space-cadet);
$accent-light: #A0C181;
$base: var(--light-orange);
$grey: #9AA8A6;
$darker: #37454D;
$white: #FFFFFF;

:root {
  --space-cadet: #2d3047ff;
  --paolo-veronese-green: #419d78ff;
  --earth-yellow: #e0a458ff;
  --light-orange: #ffdbb5ff;
  --fuchsia-crayola: #c04abcff;
}

